@import "zeroing-style.scss";

svg path {
    fill:inherit;
    stroke:inherit;
    stroke-width:inherit;
}

.underline-title {
    position: relative;
    &::after {
        content: "";
        position: absolute;
        bottom: -27px;
        left: 0;
        right: 0;
        height: 3px;
        background-color: #710707;
    }
}

.section-title {
    font-family: 'Forum', cursive;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    color: #fff;
    text-transform: uppercase;
}

.logo {
    display: flex;
    font-size: 28px;
    line-height: 31px;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.logo-img {
    margin: 0 25px 0 0;
    width: 49px;
    height: 26px;
    background-image: url("../assets/svg/logo.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    color: #000;
}

html,body {
    scroll-behavior: smooth;
}

.header {
    background-color: #000;
    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font-family: 'Forum', cursive;
        color: #fff;
        .navigation {
            width: 100%;
            max-width: 775px;
        }
        .navigation__list {
            display: flex;   
            align-items: center;
            justify-content: space-between;
            li {
                display: flex;
                align-items: center;
                height: 150px;
            }
        }  //СДЕЛАТЬ КНОПКИ БОЛЬШИМИ!!!!!!!!!!
        .navigation__item {
            font-family: 'Roboto', sans-serif;
            line-height: 26px;
            font-size: 22px;
            font-weight: 200;
            letter-spacing: 2px;
            color: #fff;
            
            transition: all 0.2s linear;
        }
        .navigation__item:hover {
            color: #9D8665;
        }
    }
}

.welcom{
    padding: 0 0 60px 0;
    background-color: #000;
    color: #fff;
    .welcom-container {
        position: relative;
        display: flex;
        .welcom__section {
            position: absolute;
            z-index: 1;
            width: 700px;
            padding: 150px 0 0 0;
            .welcom__title {
                margin: 0 0 25px 0;
            }
            .welcom__caption {
                margin: 0 0 105px 0;
                font-weight: 300;
                font-size: 28px;
                letter-spacing: 2px;
            }
            .welcom__button {
                padding: 24px 68px;
                font-size: 22px;
                font-weight: 300;
                letter-spacing: 2px;
                color: #fff;
                background-color: #710707;
                border-radius: 10px;


                transition: all 0.2s linear;
            }
            .welcom__button:hover {
                background-color: #9D8665;
            }
        }
        .welcom__frame {
            position: relative;
            display: flex;
            justify-content: right;
            width: 100%;
            z-index: 0;
            .welcom__slider {
                height: 750px;
                max-width: 1000px;
                width: 100%;
                background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%), url("../assets/img/welcom/1.jpg");
                background-size: cover;
            }
        }
        .welcom__switcher {
            position: absolute;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            max-width: 600px;
            padding: 40px 75px;
            top: 690px;
            left: 840px;
            background-color: #000;
            line-height: 40px;
            .welcom__pages-count {
                span {
                    padding: 0 6px;
                }
            }
            .welcom__dots {
                display: flex;
                justify-content: space-between;
                width: 100%;
                max-width: 180px;
                .welcom__dot {
                    height: 16px;
                    width: 16px;
                    background-color: #fff;
                    cursor: pointer;

                    transition: all 0.1s linear;
                }
                .welcom__dot:hover {
                    background-color: #9D8665;
                }
                .welcom__dot_active {
                    background-color: #D2B183;
                }
            }
            .welcom__arrows {
                display: flex;
                .welcom__arrows_left, .welcom__arrows_right {
                    padding: 0 0 3px 0;
                    font-size: 30px;
                    color: #fff;
                    background-color: #000;
                    cursor: pointer;

                    transition: all 0.1s linear;
                }
                .welcom__arrows_left {
                    margin: 0 20px 0 0;
                }
            }
            .welcom__arrows_left:hover, .welcom__arrows_right:hover {
                color: #9D8665;
            }
        }
    }
}

.virtual-tour {
    padding: 75px 0 72px 0;
    .virtual-tour__title {
        margin: 0 0 103px 0;
        color: #9D8665;
    }
    .virtual-tour__cards {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 60px;
        .cards__picture {
            margin: 0 0 25px 0;
            height: 285px;
            width: 440px;
        }
        .cards__title {
            color: #000;
            font-size: 32px;
            line-height: 35px;
            &:after {
                width: 300px;
                height: 2px;
                bottom: -11px;
                
                transition: all 0.4s linear;
            }
        }
        .cards__description {
            margin: 22px 0 0 0;
            font-weight: 200;
            line-height: 30px;
            span {
                font-size: 18px;
                line-height: 21px;
            }
        }
    }
    .cards__item:hover .cards__title::after {
        width: 100%;
    }
}

.picture-explore {
    padding: 75px 0;
    background-color: #000;
    color: #fff;
    .picture-explore-container {
        display: flex;
        justify-content: space-between;
    }
    .picture-explore__description {
        width: 100%;
        max-width: 660px;
        .picture-explore__title {
            margin: 0 0 103px 0;
            &::after {
                width:660px;
            }
        }
        .picture-explore__text {
            font-weight: 300;
            line-height: 38px;
            letter-spacing: 0.1px;
            p {
                margin: 0 0 26px 0;
            }
            span {
                color: #CAAA7D;
            }
        }
    }
    .picture-explore__picture {
        padding: 15px 0 0 0;
        width: 720px;
        height: 715px;
    }
}

.video-journey {
    padding: 75px 0 62px 0;
    .video-journey__caption {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 70px 0;
        .video-journey__title {
            color: #9D8665;
        }
        .video-journey__description {
            width: 100%;
            max-width: 720px;
            font-weight: 300;
            font-size: 22px;
            line-height: 38px;
        }
    }
    .video-journey__video {
        height: 735px;
        width: 1440px;
        margin: 0 0 45px 0;
    }
    .video-journey__bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 25px 30px;
        background-color: #000;
        svg {
            fill:#B3B3B3;
        }
        .video-journey__play-button {
            width: 23px;
            height: 31px;
            cursor: pointer;
        }
        .bar__range-button {
            height: 8px;
            width: 929px;
            background: linear-gradient(to right, #710707 0%, #710707 50%, #C4C4C4 50%, #C4C4C4 100%);
            transition: background 450ms ease-in;
            -webkit-appearance: none;
        }
        .volume {
            width: 155px;
        }
        .bar__range-button::-webkit-slider-thumb {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: #fff;
            -webkit-appearance: none;
            cursor: pointer;
        }
        .video-journey__volume-button {
            width: 38px;
            height: 31px;
            cursor: pointer;
        }
        .video-journey__size-button {
            width: 35px;
            height: 35px;
            cursor: pointer;
        }
    }
    .video-journey__video-slider {
        display: flex;
        justify-content: space-between;
        margin: 0 0 32px 0;
        .video-journey__slider-item {
            position: relative;
            height: 254px;
            width: 452px;
        }
        .video-journey__slider-item::before {
            content: url("../assets/img/video-journey/youtube\ icon.svg");
            display: block;
            position: absolute;
            height: 48px;
            width: 68px;
            margin: 103px 0 0 192px;
        }
    }
    .video-journey__switcher {
        display: flex;
        justify-content: center;
        .video-journey__dots {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            max-width: 200px;
            .video-journey__dot {
                width: 12px;
                height: 12px;
                background-color: #999;
                border-radius: 50%;
                cursor: pointer;

                transition: all 0.1s linear;
            }
            .video-journey__dot:hover {
                background-color: #710707;
            }
            
            .active__dot {
                background-color: #333;
            }

            .video-journey__arrow {
                padding: 0 0 3px 0;
                font-size: 25px;
                color: #999;
                background-color: #fff;
                cursor: pointer;
            }
            .video-journey__arrow:hover {
                color: #710707;
            }
        }
    }
}

.art-gallery {
    background-color: #000;
    .art-gallery__picture-wrapper {
        height: 1960px;
        overflow-y: hidden;
    }
    .art-gallery__title {
        padding: 75px 0;
        color: #fff;
    }
    .art-gallery__pictures {
        position: relative;
        column-count: 3;
        column-gap: 36px;
        .art-gallery__picture {
            width: 100%;
            max-width: 456px;
            margin:  0 0 24px 0;
        }
    }
    .art-gallery__picture:nth-child(1), 
    .art-gallery__picture:nth-child(11) {
        padding: 50px 0 0 0;
    }
    .art-gallery__pictures::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 360px;
        left: 0;
        right: 0;
        top: 1600px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    }
}

.buy-tickets {
    padding: 75px 0;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    .buy-tickets__caption {
        font-size: 28px;
        line-height: 33px;
        font-weight: 700;
        margin: 0 0 50px 0;
    }
    .buy-tickets__content {
        display: flex;
    }
    .buy-tickets__title {
        margin: 0 0 103px 0;
        color: #9D8665;
    }
    .buy-tickets__picture {
        height: 550px;
        width: 720px;
        margin: 0 60px 0 0;
    }
    .buy-tickets__type-selection {
        display: flex;
        flex-direction: column;
        margin: 0 240px 0 0;
        .buy-tickets__radiobutton {
            margin: 0 0 25px 0;
            cursor: pointer;
            span::before {
                content: '';
                display: inline-block;
                width: 17px;
                height: 17px;
                flex-shrink: 0;
                flex-grow: 0;
                border: 2px solid #000;
                border-radius: 50%;
                margin-right: 23px;
                background-repeat: no-repeat;
                background-position: center center;
            }
            input {
                position: absolute;
                z-index: -1;
                opacity: 0;
            }
            input:not(:disabled):not(:checked)+span:hover::before {
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='7' height='7' viewBox='0 0 7 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='3.5' cy='3.5' r='3.5' fill='%23AAAAAA'/%3e%3c/svg%3e");
            }
            input:checked+span::before {
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='7' height='7' viewBox='0 0 7 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='3.5' cy='3.5' r='3.5' fill='black'/%3e%3c/svg%3e");
            }
        }
    }

    .buy-tickets__amount {
        display: flex;
        flex-direction: column;
        align-items: end;
    }
    .buy-tickets__amount-caption {
        margin: 0 0 25px 0;
    }
    .buy-tickets__count {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 150px;
        height: 50px;
        padding: 12px 14px;
        margin: 15px 0 0 0;
        font-weight: 400;
        border: 3px solid #000;
        button {
            background-color: #fff;
            font-size: 32px;
        }
        span {
            font-size: 22px;
        }
    }
    .buy-tickets__age-limit {
        margin: 0 0 10px 0;
    }
    .buy-tickets__total {
        margin: 40px 0 60px 0;
        font-weight: bold;
        font-size: 28px;
        line-height: 33px;
        letter-spacing: 1.5px;
    }
    .buy-tickets__buy-now {
        padding: 12px 38px;
        font-weight: 300;
        font-size: 22px;
        letter-spacing: 2px;
        color: #fff;
        background-color: #000;
        border-radius: 2px;
        cursor: pointer;

        transition: all 0.3s linear;
    }
    .buy-tickets__buy-now:hover {
        color: #000;
        background-color: #9D8665;
    }
}

.parallax {
    height: 400px;
    background-image: url("../assets/img/parallax/parallax.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contacts {
    padding: 75px 0;
    .contacts__title {
        margin: 0 0 103px 0;
        color: #9D8665;
    }
    .contacts__content {
        display: flex;
        justify-content: space-between;
    }
    .contacts__place {
        font-size: 28px;
        line-height: 33px;
        font-weight: 700;
        margin: 0 0 50px 0;
    }
    .contacts__address {
        display: flex;
        flex-direction: column;
        font-weight: 300;
        line-height: 26px;
        a {
            font-weight: 300;
            line-height: 26px;
            margin: 0 0 25px 0;
            color: #000;
        }
    }
    .contacts__map {
        width: 960px;
        height: 620px;
    }
}

.footer {
    padding: 85px 0 50px 0;
    background-color: #000;
    color: #fff;
    .footer-container {
        display: flex;
    }
    .logo {
        margin: 0 145px 0 0;
        font-family: 'Forum', cursive;
    }
    .footer__navigation {
        width: 100%;
        max-width: 490px;
        margin: 0 270px 0 0;
    }
    .navigation__list {
        height: 128px;
        column-count: 2;
        li {
            margin: 0 0 25px 0;
        }
    }
    .navigation__item {
        line-height: 26px;
        font-weight: 200;
        letter-spacing: 2px;
        color: #fff;

        transition: all 0.2s linear;
    }
    .navigation__item:hover {
        color: #9D8665;
    }
    
    .footer__social {
        display: flex;
        align-items: flex-end;
        ul {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            width: 340px;
        }
    }
    .social__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        border: 1px solid #666;
        border-radius: 50%;
        transition: all 0.3s linear;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }
        a svg {
            fill: #fff;
            transition: all 0.3s linear;
        }
    }
    .social__link:hover {
        border: 1px solid #9D8665;
        a svg {
            fill: #9D8665;
        }
    }
}

.last-string {
    padding: 50px 0;
    background-color: #000;
    border-top: 3px solid #666;
    .last-string-container {
        display: flex;
        justify-content: space-between;
        color: #fff;
        font-weight: 200;
        line-height: 22px;
        letter-spacing: 2px;
    }
}


.booking-tickets-overlay {
    position: fixed; 
    display: none;
    // justify-content: center;
    align-items: center; 
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 2; 
    cursor: pointer; 
}
.booking-tickets {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 845px;
    width: 100%;
    max-width: 1440px;
    left: 0;
    background-color: #fff;
    opacity: 0;
    cursor: default;

    transition: all 0.5s linear;
    .booking-tickets__form {
        margin: 0 40px 0 0;
    }
    .booking-tickets__logo {
        background-image: url("../assets/svg/color-logo.svg");
    }
    .logo-img {
        width: 85px;
        height: 41px;
    }
    .booking-tickets__title {
        margin: 0 0 15px 0;
        font-family: 'Forum', cursive;
        color: #9D8665;
        font-size: 50px;
        line-height: 55px;
        text-transform: uppercase;
    }
    .booking-tickets__tour-name {
        margin: 0 0 73px 0;
        font-size: 18px;
        line-height: 21px;
        color: #710707;
    }
    .booking-tickets__tour-name::after {
        bottom: -10px;
        background-color: #740C11;
    }

    //Fields===============================================
    .date-time__field {
        width: 100%;
        padding: 14px 15px;
        border: 1px solid #030303;
    }
    .date-time__field::before {
        content: "";
        display: inline-block;
        width: 15px;
        height: 15px;
        background-image: url("../assets/svg/date.svg");
    }
    .date-time__field::after {
        position: absolute;
        margin: 0 0 0 30px;
    }
    .date-time__field::-webkit-calendar-picker-indicator {
        position: relative;
        width: 17px;
        height: 17px;
        margin: 0;
        padding: 0;
        background-image: url("../assets/svg/arrow.svg");
    }
    .date-time__field::-webkit-datetime-edit-fields-wrapper {
        display: none;
    }
    .date-field, .time-field {
        width: 190px;
    }
    .date-field::after {
        content: "Date";
        font-size: 18px;
        line-height: 21px;  
        color: #030303;
    }
    .time-field::after {
        content: "Time";
        font-size: 18px;
        line-height: 21px;  
        color: #030303;
    }
    .time-field::before {
        background-image: url("../assets/svg/time.svg");
    }

    .booking-tickets__date-time-field {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 45px;
    }
    .booking-tickets__field {
        position: relative;
        display: flex;
        align-items: center;
        width: 400px;
        height: 45px;
        padding: 14px 15px;
        margin: 20px 0 0 0;
        border: 1px solid #030303;
    }
    .booking-tickets__field::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 44px;
        height: 44px;
        background-image: url("../assets/svg/arrow.svg");
        background-repeat: no-repeat;
        background-position: center;
    }
    .booking-tickets__field input{
        font-size: 18px;
        line-height: 21px;
        margin: 0 0 0 30px;
    }
    .booking-tickets__field input::-webkit-input-placeholder {
        font-family: 'Roboto', sans-serif;
        color: #030303;
    }
    .name-field::before {
        background-image: url("../assets/svg/name.svg");
    }
    .email-field::before {
        background-image: url("../assets/svg/email.svg");
    }
    .tel-field::before {
        background-image: url("../assets/svg/tel.svg");
    }
    .ticket-type-field{
        padding: 0 0 0 44px;
    }
    .ticket-type-field::before {
        background-image: url("../assets/svg/ticket-type.svg");
    }
    .ticket-type-field select {
        -webkit-appearance: none;
        width: 340px;
        height: 43px;
        background-image: url("../assets/svg/arrow.svg");
        background-repeat: no-repeat;
        background-position: right;
        font-size: 18px;
        line-height: 21px;
    }
    //Fields===============================================

    .entry-ticket {
        margin: 20px 0 0 0;
        padding: 10px 15px 0 15px;
        border: 1px solid #030303;
    }
    .entry-ticket-title {
        margin: 0 0 22px 0;
        font-family: 'Forum', cursive;
        font-size: 18px;
        line-height: 20px;
        color: #9D8665;
    }
    .entry-ticket-title::after {
        height: 2px;
        bottom: -5px;
    }
    .entry-ticket__buying {
        display: flex;
        justify-content: space-between;
        margin: 0 0 18px 0;
        font-size: 18px;
        line-height: 21px;
    }
    .entry-ticket__button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 105px;
        height: 25px;
        padding: 0 13px;
        font-size: 18px;
        color: #fff;
        background-color: #030303;
    }
    .entry-ticket__count {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 23px;
        color: #030303;
        background-color: #fff;
    }
    .entry-ticket__minus, .entry-ticket__plus {
        cursor: pointer;
    }

    .booking-tickets__payment {
        width: 100%;
        max-width: 530px;
        padding: 25px 30px 25px 30px;
        border: 1px solid #030303;
        .booking-tickets__header {
            display: flex;
            justify-content: space-between;
            margin: 0 0 17px 0;
            .booking-tickets__overview {
                margin: 0 0 3px 0;
                font-weight: 500;
                font-size: 32px;
                line-height: 37px;
            }
            .booking-tickets__tour-name {
                margin: 0 0 10px 0;
                font-weight: 500;
                font-size: 22px;
                line-height: 26px;
                opacity: 0.9;
            }
            .booking-tickets__picture {
                width: 150px;
                height: 120px;
            }
            .booking-tickets__place {
                font-weight: 300;
                font-size: 18px;
                line-height: 21px;
            }
            .booking-tickets__place div {
                position: relative;
                display: flex;
                align-items: center;
                padding: 0 0 0 30px;
                margin: 0 0 5px 0;
            }
            .booking-tickets__place div::before{
                content: "";
                position: absolute;
                display: inline-block;
                width: 15px;
                height: 15px;
                left: 0;
                background-repeat: no-repeat;
                background-position: center;
            }
            .booking-tickets__date::before {
                background-image: url("../assets/svg/date.svg");
            }
            .booking-tickets__time::before {
                background-image: url("../assets/svg/time.svg");
            }
            .booking-tickets__ticket-type::before {
                background-image: url("../assets/svg/check-mark.svg");
            }
        }

        .booking-tickets__price {
            padding: 0 0 9px 0;
            margin: 0 0 10px 0;
            .booking-tickets__basic,
            .booking-tickets__senior {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0 0 6px 0;
                font-size: 22px;
                line-height: 26px;
            }
            .booking-tickets__count {
                position: relative;
                display: flex;
                align-items: center;
                padding: 0 0 0 40px;
            }
            .booking-tickets__count::before {
                content: "2";
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 32px;
                height: 20px;
                left: 0;
                font-size: 18px;
                line-height: 21px;
                border-radius: 5px;
                color: #A4A4A3;
                background-color: #030303;
            }
        }
        .booking-tickets__price::after {
            bottom: 0;
        }

        .booking-tickets__total {
            display: flex;
            justify-content: space-between;
            margin: 0 0 10px 0;
            font-size: 32px;
            line-height: 37px;
            span {
                font-weight: 600;
            }
        }

        .booking-tickets__bank-card {
            padding: relative;
            height: 241px;
            margin: 0 0 27px 0;
            font-size: 12px;
            line-height: 14px;
            color: #161615;
            label {
                margin: 0 0 10px 0;
                input {
                    width: 213px;
                    height: 35px;
                    padding: 10px; 
                }
            }
            .booking-tickets__front-side-card {
                position: absolute;
                display: flex;
                flex-direction: column;
                width: 360px;
                height: 211px;
                padding: 15px 20px;
                background-image: url("../assets/img/card-front-side.png");
                z-index: 1;
                .card-number {
                    display: flex;;
                    flex-direction: column;
                    span {
                        margin: 0 0 5px 0;
                    }
                    input::-webkit-outer-spin-button,
                    input::-webkit-inner-spin-button {
                        display: none;
                    }
                }
                .expiration-date {
                    display: flex;
                    flex-direction: column;
                    margin: 0 0 10px 0;
                    span {
                        margin: 0 0 5px 0;
                    }
                    input {
                        height: 35px;
                        width: 100px;
                        padding: 15px 20px;
                        margin: 0 11px 0 0;
                    }
                }
                .expiration-date {
                    label {
                        display: flex;
                        flex-direction: column;
                    }
                    span {
                        margin: 0 0 5px 0;
                    }
                }
                .cardholder-name {
                    input::-webkit-outer-spin-button,
                    input::-webkit-inner-spin-button {
                        display: none;
                    }
                    input {
                        width: 100%;
                        margin: 5px 0 0 0;
                    }
                }
            }
            .booking-tickets__back-side-card {
                position: absolute;
                display: flex;
                justify-content: right;
                align-items: flex-end;
                padding: 15px 20px;
                width: 360px;
                height: 211px;
                margin: 30px 0 0 109px;
                background-image: url("../assets/img/card-back-side.png");
                label {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 50px 0 0 0; 
                    width: 75px;
                    input {
                        width: 100%;
                        margin: 5px 0;
                    }
                    p {
                        font-size: 10px;
                        line-height: 12px;
                    }
                }
            }
        }

        .booking-tickets__button {
            display: flex;
            justify-content: right;
            .booking-tickets__button-link {
                font-size: 22px;
                line-height: 26px;
                color: #fff;
                padding: 10px 85px;
                background-color: #710707;
            }
        }
    }
    .booking-tickets__close {
        position: absolute;
        width: 25px;
        height: 25px;
        top: 30px;
        left: 1385px;
        background-image: url("../assets/svg/close.svg");
        cursor: pointer;
    }
}
